@*
Index view can be used for listing files or general information.
*@

<h1>Azure File Management</h1>

<a href="@Url.Action("UploadContract")">Upload Contract</a>
<!-- Additional links and forms for log management can be added here -->
